<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751965537338-psr7f6f26hsk1vhdjfn0b29hgipcqc8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751965537338-psr7f6f26hsk1vhdjfn0b29hgipcqc8l</string>
	<key>API_KEY</key>
	<string>AIzaSyA3mwBCzOJuzsUJgQ_nII62m-O36dBSqyw</string>
	<key>GCM_SENDER_ID</key>
	<string>751965537338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fjwu.walkingTales</string>
	<key>PROJECT_ID</key>
	<string>walking-tales</string>
	<key>STORAGE_BUCKET</key>
	<string>walking-tales.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751965537338:ios:2a37a54c25c50e847c2103</string>
</dict>
</plist>